
<div class="modal-branding-box">
  <div>
    <%= image_tag("https://storage.googleapis.com/h-pfolio-4-airbnb-clone-v5-bucket-0/airbnb-images/avatar.png", size:"100x100", class:"mx-auto", alt:"branding site avatar") %>
  </div>
</div>
